extends layout 

block content
  script.
      var file = !{file};
        for(i=0;i<file.total_rows;i++){
          var email = file.rows[i].value[0];
          var articolo = file.rows[i].value[1];
          var messaggio = file.rows[i].value[2];
          document.write(`
          <div id ="recensioni">
            <div>
              <h4>`+email+`</h4>
            </div>
            <div>
              <h4>`+articolo+`</h4>
            </div>
            <div>
              <h4>`+messaggio+`</h4>
            </div>
          </div>
          <br>
          `)
        }